/CPackConfig.cmake
/CPackSourceConfig.cmake
/_CPack_Packages
/cmake_uninstall.cmake
/doc/Doxyfile
/doc/Doxyfile_cmd
/src/auto
/src/bin/editorconfig
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
